<% if @form.errors.any? %>
  <div id="error_explanation">
    <h2><%= @form.errors.count %>件のエラーがあります。</h2>
 
    <ul>
    <% @form.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @form, url: car_drives_path, :method => :post do |f| %>
  <div class="field">
    <%= f.label :car_id %><br />
    <%= f.collection_select :car_id, Car.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :driver_ids %><br />
    <%= f.collection_select :driver_ids, User.all, :id, :name, { include_hidden: false }, { multiple: true } %>
  </div>
  <div class="field">
    <%= f.label :start_at %><br />
    <%= f.datetime_field :start_at %>
  </div>
  <div class="field">
    <%= f.label :end_at %><br />
    <%= f.datetime_field :end_at %>
  </div>
  <div class="field">
    <%= f.label :start_meter %><br />
    <%= f.number_field :start_meter %>
  </div>
  <div class="field">
    <%= f.label :end_meter %><br />
    <%= f.number_field :end_meter %>
  </div>

  <div class="actions">
    <%= f.submit "Create" %>
  </div>
<% end %>