<% if @form.errors.any? %>
  <div id="error_explanation">
    <h2><%= @form.errors.count %>件のエラーがあります。</h2>
 
    <ul>
    <% @form.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="row">
  <%= form_for @form, url: car_drive_path(id: @form.drive.id, car_id: @form.drive.car_id), :method => :put, html: { class: 'col s12' } do |f| %>
    <div class="row">
      <div class="input-field col s12">
        開始時メーター： <%= @form.drive.start_meter %><br />
      </div>
      <div class="input-field col s12">
        <%= f.label :end_meter %>
        <%= f.number_field :end_meter %>
      </div>
      <%= f.submit "終了", class: "actions btn" %>
    </div>
  <% end %>
</div>