<% if @form.errors.any? %>
  <div id="error_explanation">
    <h2><%= @form.errors.count %>件のエラーがあります。</h2>
 
    <ul>
    <% @form.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="row">
  <%= form_for @form, url: car_drives_path, :method => :post, html: { class: 'col s12' } do |f| %>
    <div class="row">
      <div class="input-field col s12">
        <%= f.label :start_meter %>
        <%= f.number_field :start_meter %>
      </div>
      <div class="input-field col s12">
        <%= f.label :using_hours %>
        <%= f.number_field :using_hours %>
      </div>
      <%= f.submit "開始", class: "actions btn" %>
    </div>
  <% end %>
</div>