<% if @form.errors.any? %>
  <%= render 'widgets/errors', object: @form %>
<% end %>

<div id='create-drive'>
  <div class="Card">
    <div class="Card--Content">
      <span class="Card--Content--Title">乗車記録</span>
      <%= form_for @form, url: car_drives_path, html: { class: 'Form' } do |f| %>
        <div class='Form--InputSet'>
          <div class="Form--InputSet--Field s12">
            <%= f.label :start_meter, '乗車時のメーター' %>
            <%= f.number_field :start_meter %>
          </div>
        </div>
        <div class='Form--InputSet'>
          <div class='Form--InputSet--Field s6'>
            <%= f.label '終了予定日' %>
            <%= f.date_field :end_at_date, class: 'datepicker' %>
          </div>
          <div class="Form--InputSet--Field s6">
            <%= f.label '終了予定時刻' %>
            <%= f.number_field :end_at_hour, in: 0..23 %>
          </div>
        </div>
        <%= f.submit "開始", class: "Form--SubmitBtn" %>
      <% end %>
    </div>
  </div>
</div>

<div id='bookings'>
  <%= render 'widgets/bookings', object: @bookings_in_effect %>
</div>