<% @card_elements.each do |elem| %>
  <% if elem.is_a? Drive %>
    <div class='card drive'>
      <div class='card-content'>
        <p>
          <span class='card-title'><%= elem.user.name %></span>
          <p><%= simple_datetime elem.start_at %> 〜 <%= simple_datetime elem.end_at %></p>
          <p><%= elem.start_meter %>km 〜 <%= elem.end_meter %>km</p>
        </p>
      </div>
      <div class='card-action right-align'>
        <%= render 'widgets/tel', object: elem.user %>
        <%= render 'widgets/email', object: elem.user %>
        <%= link_to admin_car_drive_path(elem.car.id, elem.id), class: 'btn-floating btn-large waves-effect waves-light red', method: :delete do %>
          <i class='material-icons'>delete</i>
        <% end %>
        <%= link_to edit_admin_car_drive_path(elem.car.id, elem.id), class: 'btn-floating btn-large waves-effect waves-light red' do %>
          <i class='material-icons'>create</i>
        <% end %>
      </div>
    </div>
  <% elsif elem.is_a? DriveForm::Admin %>
    <div class='card drive-form-create-admin yellow'>
      <div class='card-content'>
        <p>
          <span class='card-title'>????</span>
        </p>
      </div>
      <div class='card-action right-align'>
        <%= link_to new_admin_car_drive_path(elem.attributes['car_id'], elem.attributes), class: 'btn-floating btn-large waves-effect waves-light green' do %>
          <i class="material-icons">create</i>
        <% end %>
      </div>
    </div>
  <% else %>
    <% raise RuntimeError %>
  <% end %>
<% end %>
