<% @card_elements.each do |elem| %>
  <% if elem.is_a? Drive %>
    <div class='Card drive'>
      <div class='Card--Content'>
        <p>
          <span class='Card--Content--Title'><%= elem.user.name %></span>
          <p><%= simple_datetime elem.start_at %> 〜 <%= simple_datetime elem.end_at %></p>
          <p><%= elem.start_meter %>km 〜 <%= elem.end_meter %>km</p>
        </p>
      </div>
      <div class='Card--Action'>
        <%= render 'widgets/tel', object: elem.user %>
        <%= render 'widgets/email', object: elem.user %>
        <%= link_to admin_car_drive_path(elem.car.id, elem.id), class: 'Card--Action--FAB red', method: :delete do %>
          <i class='Card--Action--FAB--Icon'>delete</i>
        <% end %>
        <%= link_to edit_admin_car_drive_path(elem.car.id, elem.id), class: 'Card--Action--FAB red' do %>
          <i class='Card--Action--FAB--Icon'>create</i>
        <% end %>
      </div>
    </div>
  <% elsif elem.is_a? DriveForm::Admin %>
    <div class='Card yellow drive-form-create-admin'>
      <div class='Card--Content'>
        <p>
          <span class='Card--Content--Title'>????</span>
        </p>
      </div>
      <div class='Card--Action'>
        <%= link_to new_admin_car_drive_path(elem.attributes['car_id'], elem.attributes), class: 'Card--Action--FAB green' do %>
          <i class="Card--Action--FAB--Icon">create</i>
        <% end %>
      </div>
    </div>
  <% else %>
    <% raise RuntimeError %>
  <% end %>
<% end %>
