<div id='create-drive'>
  <div class="Card">
    <div class="Card--Content">
      <span class="Card--Content--Title">乗車記録</span>
      <%= form_for @form, url: admin_car_drives_path(car_id: @form.car_id), html: { class: 'Form' } do |f| %>
      <div class='Form--InputSet'>
        <div class="Form--InputSet--Field s12">
          <%= f.collection_select :user_id, User.all, :id, :name %>
        </div>
      </div>
      <div class='Form--InputSet'>
        <div class="Form--InputSet--Field s6">
          <%= f.label :start_meter, '乗車時のメーター' %>
          <%= f.number_field :start_meter %>
        </div>
        <div class="Form--InputSet--Field s6">
          <%= f.label :end_meter, '降車時のメーター' %>
          <%= f.number_field :end_meter %>
        </div>
      </div>
      <%= f.submit "作成", class: "Form--SubmitBtn" %>
      <% end %>
    </div>
  </div>
</div>