<div class="row">
  <% if flash[:recalculate_error] %>
    <div class="col s12">
      <div class='card-panel red lighten-2' style='text-align: center;'>
        <span class='white-text'>
          燃費の算出に失敗しました。期間中の乗車記録に不備があります。
        </span>
      </div>
    </div>
  <% end %>
  <%= link_to new_admin_consumption_path, method: :GET do %>
    <div class="col s12">
      <div class='card-panel blue lighten-2' style='text-align: center; font-size: large;'>
        <span class='white-text'>
          集計期間を登録する
        </span>
      </div>
    </div>
  <% end %>
  <% @consumptions.group_by { |c| [c.start_at.to_date, c.end_at.to_date] }.sort.reverse.each do |dates, consumptions| %>
    <div class="col s12">
      <div class="Card">
        <div class="Card--Content">
          <p class="Card--Content--Title">
            <%= dates[0] %> 〜 <%= dates[1] %>
          </p>
          <p style='text-align: right;'>
            <ul>
              <% consumptions.each do |consumption| %>
                <li><%= consumption.car.name %>：<%= consumption.price.round(1) %> 円/km</li>
              <% end %>
            </ul>
          </p>
          <div class="Card--Action">
            <%= link_to recalculate_admin_consumptions_path(ids: consumptions.map(&:id)), method: :POST, class: 'Card--Action--FAB btn-floating green' do %>
              <i class='Card--Action--FAB--Icon'>autorenew</i>
            <% end %>
            <%= link_to destroy_multiple_admin_consumptions_path(ids: consumptions.map(&:id)), method: :DELETE, class: 'Card--Action--FAB btn-floating red' do %>
              <i class='Card--Action--FAB--Icon'>delete</i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
