<% if @form.errors.any? %>
  <%= render 'widgets/errors', object: @form %>
<% end %>

<div id='create-booking'>
  <div class="Card">
    <div class="Card--Content">
      <span class="Card--Content--Title">予約登録</span>
      <%= form_for @form, url: car_bookings_path, :method => :post, class: 'Form' do |f| %>
        <div class='Form--InputSet'>
          <div class='Form--InputSet--Field s6'>
            <%= f.label '開始日' %>
            <%= f.date_field :start_at_date, class: 'datepicker' %>
          </div>
          <div class="Form--InputSet--Field s6">
            <%= f.label '開始時刻' %>
            <%= f.number_field :start_at_hour, in: 0..23 %>
          </div>
        </div>
        <div class='Form--InputSet'>
          <div class='Form--InputSet--Field s6'>
            <%= f.label '終了日' %>
            <%= f.date_field :end_at_date, class: 'datepicker' %>
          </div>
          <div class="Form--InputSet--Field s6">
            <%= f.label '終了時刻' %>
            <%= f.number_field :end_at_hour, in: 0..23 %>
          </div>
        </div>
        <%= f.submit "予約", class: "Form--SubmitBtn" %>
      <% end %>
    </div>
  </div>
</div>

<div id='bookings'>
<%= render 'widgets/bookings', object: @bookings_in_effect %>
</div>