<h3>使用予約</h3>

<% if @booking.errors.any? %>
  <div id="error_explanation">
    <h2><%= @booking.errors.count %>件のエラーがあります。</h2>
 
    <ul>
    <% @booking.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @booking, url: car_bookings_path, :method => :post do |f| %>
  <div class="field">
    <%= f.label :start_at %><br />
    <%= f.datetime_field :start_at %>
  </div>
  <div class="field">
    <%= f.label :end_at %><br />
    <%= f.datetime_field :end_at %>
  </div>
  <%= f.submit "予約", class: "actions btn" %>
<% end %>