<% if @booking.errors.any? %>
  <div id="error_explanation">
    <h2><%= @booking.errors.count %>件のエラーがあります。</h2>
 
    <ul>
    <% @booking.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div id='create-booking'>
  <div class="card">
    <div class="card-content">
      <span class="card-title">予約登録</span>
      <%= form_for @booking, url: car_bookings_path, :method => :post do |f| %>
        <%= render 'widgets/datetimepicker', object: { now: Time.zone.now } %>
        <div class='row' style='margin-bottom: 0px; height: 30px;'>
          <div class='col s2 offset-s5'>
            <i class="material-icons">arrow_downward</i>
          </div>
        </div>
        <%= render 'widgets/datetimepicker', object: { now: Time.zone.now } %>
        <%= f.submit "予約", class: "actions btn" %>
      <% end %>
    </div>
  </div>
</div>

<div id='bookings'>
<%= render 'widgets/bookings', object: @bookings_in_effect %>
</div>