<% if @user.errors.any? %>
  <%= render 'widgets/errors', object: @user %>
<% end %>

<div id='invite-user'>
  <div class="card">
    <div class="card-content">
      <span class="card-title">Invite</span>
      <%= form_for @user, url: users_path do |f| %>
        <div class='row'>
          <div class="input-field col s12">
            <%= f.label :email, 'Email' %>
            <%= f.email_field :email %>
          </div>
        </div>
        <%= f.submit "Invite", class: "actions btn" %>
      <% end %>
    </div>
  </div>
</div>

<div id='users'>
  <%= render 'widgets/users', object: @users %>
</div>