<div class="row">
<% @cars.each do |car| %>
  <div class="col s12">
    <div class="card">
      <div class="card-image">
        <img src="https://source.unsplash.com/category/objects/400x200">
        <p class="card-title">
          <%= car.name %>
        </p>
      </div>
      <div class="card-content">
        <p>
          <% if car.occupied? %>
            <span class="badge red white-text"><%= car.current_driver.name %>が使用中</span>
          <% else %>
            <span class="badge green white-text">使用可</span>
          <% end %>
        </p>
      </div>
      <div class="card-action right-align">
        <a href="" class="btn-floating btn-large waves-effect green"><i class="material-icons">local_gas_station</i></a>
        <a href="<%= new_car_booking_path car_id: car.id %>" class="btn-floating btn-large waves-effect green"><i class="material-icons">bookmark</i></a>
        <% if car.using?(current_user.id) %>
          <a href="<%= edit_car_drive_path car_id: car.id, id: car.using_drive(current_user.id).id %>" class="btn-floating btn-large waves-effect red"><i class="material-icons">done</i></a>
        <% else %>
          <a href="<%= new_car_drive_path car.id %>" class="btn-floating btn-large waves-effect green"><i class="material-icons">send</i></a>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
</div>
