<div class='row'>
  <div class='input-field col s6'>
    <input type="date" class="datepicker" value='<%= object[:now].to_date %>'>
  </div>
  <div class="input-field col s3">
    <select>
      <% (1..24).each do |hour| %>
      <option value="<%= hour %>" <% if hour == object[:now].hour %>selected<% end %>><%= hour %></option>
      <% end %>
    </select>
  </div>
  <div class="input-field col s3">
    <select>
      <% [0, 30].each do |minute| %>
      <option value="<%= minute %>" <% if (object[:now].min % 30) == (minute % 30) %>selected<% end %>><%= minute %></option>
      <% end %>
    </select>
  </div>
</div>