<% object.each do |user| %>
<div class='card user'>
  <div class="card-content">
    <span class='card-title'><%= user.name || 'Not registered' %></span>
    <%= user.email %> <br />
    <%= user.phone_number %>
  </div>
  <div class="card-action right-align">
    <% if user.activation_state == 'pending' %>
      <%= link_to resend_invitation_user_path(user), method: :post, class: 'Card--Action--FAB btn-floating orange' do %>
          <i class="Card--Action--FAB--Icon">cached</i>
      <% end %>
    <% else %>
      <%= link_to deactivate_user_path(user), method: :post, class: 'Card--Action--FAB btn-floating red' do %>
          <i class="Card--Action--FAB--Icon">do_not_disturb_alt</i>
      <% end %>
    <% end %>
    <%= link_to normalize_tel(user.phone_number) do %>
      <%= render partial: 'widgets/card_action', locals: { color: 'green', icon: 'phone' } %>
    <% end %>
    <%= mail_to user.email do %>
      <%= render partial: 'widgets/card_action', locals: { color: 'green', icon: 'email' } %>
    <% end %>
  </div>
</div>
<% end %>