<div class='Card'>
  <div class='Card--Content'>
    <div class='Card--Content--Title'>
      支払履歴
    </div>
  </div>
</div>

<div class='TwoColumns'>
  <div class='TwoColumns--Columns'>
    <% @new_payments.each do |payment| %>
      <div class="Card">
        <div class="Card--Content">
          <%= form_for payment, url: admin_payments_path, html: { class: 'Form' } do |f| %>
            <div>
              <%= payment.user.name %><br />
              <%= payment.amount %>円
            </div>

            <%= f.hidden_field :user_id %>
            <%= f.hidden_field :amount %>
            <div><%= f.submit "記録", class: "Form--SubmitBtn" %></div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class='TwoColumns--Columns'>
    <% @saved_payments.each do |payment| %>
      <div class="Card">
        <div class="Card--Content">
          <div>
            <%= payment.user.name %><br />
            <%= payment.amount %>円<br />
            <%= simple_datetime payment.created_at %>
          </div>
        </div>
        <div class='Card--Action'>
          <%= link_to admin_payment_path(payment.id), class: 'Card--Action--FAB btn-floating red', method: :delete do %>
            <i class='Card--Action--FAB--Icon'>delete</i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>