<% if @fuel.errors.any? %>
  <%= render 'widgets/errors', object: @fuel %>
<% end %>

<div id='create-fuel'>
  <div class="Card">
    <div class="Card--Content">
      <span class="Card--Content--Title">給油</span>
      <%= form_for @fuel, url: car_fuels_path, html: { class: 'Form' } do |f| %>
        <div class='Form--InputSet'>
          <div class="Form--InputSet--Field s12">
            <%= f.label :amount, 'ガソリン代' %>
            <%= f.number_field :amount %>
          </div>
        </div>
        <%= f.submit "記録", class: "Form--SubmitBtn" %>
      <% end %>
    </div>
  </div>
</div>

<% @fuels.each do |fuel| %>
  <div class='Card fuel'>
    <div class='Card--Content'>
      <p>
        <span class='Card--Content--Title'><%= fuel.user.name %></span>
        <p><%= simple_datetime fuel.created_at %></p>
        <p><%= fuel.amount %>円</p>
      </p>
    </div>
    <% if fuel.user.id == current_user.id %>
    <div class='Card--Action'>
      <%= link_to car_fuel_path(id: fuel),
                  { method: :delete,
                    data: { confirm: "#{fuel.amount}円の給油履歴を取り消しますか？" },
                    class: 'Card--Action--FAB red delete-fuel' } do %>
        <i class="Card--Action--FAB--Icon">delete</i>
      <% end %>
    </div>
    <% end %>
  </div>
<% end %>
