<div class="Card">
  <div class="Card--Content">
    <span class="Card--Content--Title">新規登録</span>
    <%= form_for @fuel, url: admin_car_fuels_path, html: { class: 'Form' } do |f| %>
      <%= f.hidden_field :car_id %>
      <div class='Form--InputSet'>
        <div class="Form--InputSet--Field s12">
          <%= f.collection_select :user_id, User.all, :id, :name %>
        </div>
      </div>
      <div class='Form--InputSet'>
        <div class="Form--InputSet--Field s6">
          <%= f.label :amount, 'ガソリン代' %>
          <%= f.number_field :amount %>
        </div>
        <div class="Form--InputSet--Field s6">
          <%= f.label :created_at, '日付' %>
          <%= f.date_field :created_at, class: 'datepicker' %>
        </div>
      </div>
      <%= f.submit "記録", class: "Form--SubmitBtn" %>
    <% end %>
  </div>
</div>
