<!DOCTYPE html>
<html>
<head>
  <title>Kumacar</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
	<nav>
    <div class="nav-wrapper">
      <a href="#" data-activates="side-nav" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="side-nav" id="side-nav">
        <li>
          <%= link_to :root do %>
            <i class='material-icons'>home</i> Top
          <% end %>
        </li>
        <% if current_user %>
          <% if current_user.admin? %>
            <li>
              <%= link_to new_user_path do %>
                <i class="material-icons">supervisor_account</i> Invite New User
              <% end %>
            </li>
            <li>
              <%= link_to admin_cars_path do %>
                <i class="material-icons">supervisor_account</i> 管理者画面
              <% end %>
            </li>
          <% end %>
          <li>
            <%= link_to :logout, method: :post do %>
              <i class="material-icons">exit_to_app</i> Logout
            <% end %>  
          </li>
        <% end %>
      </ul>
    </div>
  </nav>

  <div class="row">
    <% if flash[:notice] %>
    <div class="col s12">
      <div class="card-panel notice">
        <span class="white-text"><%= flash[:notice] %></span>
      </div>
    </div>
    <% end %>
    <% if flash[:alert] %>
    <div class="col s12">
      <div class="card-panel red">
        <span class="white-text"><%= flash[:alert] %></span>
      </div>
    </div>
    <% end %>
  </div>

  <div class="content">
    <%= yield %>
  </div>

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</body>
</html>
